.chessboard {
  border: 3px solid black;
  width: 95vmin;
  margin: auto;
}
.chessboard-line1 {
  display: flex;
  width: 95vmin;
  margin: auto;
}

.chessboard-line2 {
  display: flex;
  width: 95vmin;
  margin: auto;
}
.square {
  width: 12.5%;
  padding-bottom: 12.5%;
  box-sizing: border-box; /* Include padding in the total width */
}

.square:nth-child(1n) {
  background-color: #eee;
}

.square:nth-child(2n) {
  background-color: #444;
}

.square-line2 {
  width: 12.5%;
  padding-bottom: 12.5%;
  box-sizing: border-box; /* Include padding in the total width */
}
.square-line2:nth-child(1n) {
  background-color: #444;
}

.square-line2:nth-child(2n) {
  background-color: #eee;
}
